<%- include("partials/header") %>

<script src="nav2d.js"></script>

  <div class="container mt-3">

    <div class="row">
      
      <div class="col-lg-6 col-md-6 ">
        <div class="card mt-3"  >

            <div class="card-body">
              <h5 class="card-title text-center">Insert Data</h5>
             
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Name </span>
                    <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1" name="name">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1" >Color </span>
                    <input type="color" style="height: 38px;" class="form-control "  aria-label="Username" aria-describedby="basic-addon1" name="color">
                </div>
                <div class="form-check mb-3">
                  <input class="form-check-input p-2" type="checkbox" name="option" id="flexCheckIndeterminate">
                  <label class="form-check-label" for="flexCheckIndeterminate"> Stop at point </label>
                </div>
                
                <div class="row mb-2">
                  <div class="d-grid col-4">
                    <a href="/"  class="btn btn-secondary p-3 px-5 " >Cancle</a>
                  </div>
                  <div class="d-grid col-8">
                    <button class="btn btn-success p-3 " onclick="insert_to_db('<%=name_room%>' , '<%=name_map%>')" >Save</button>
                  </div>

                </div>
                
                </div>  

                
                

                

        </div>
      
      </div>

      <div class="col-lg-6 col-md-6">
        <div id="nav" class="mt-3"></div>
      </div>

      
    </div>

  </div>

  

  <script src="page_nav_map.js"></script>

  <script src="/axios/axios.min.js"></script>
  <!-- <script src="../node_modules/axios/dist/axios.min.js"></script> -->
  
  <script>

    insert();

    function insert_to_db(name_room,name_map){
        let name = document.querySelector("input[name=name]").value;
        let color = document.querySelector("input[name=color]").value;
        let option = document.querySelector("input[name=option]").checked;
        option = Number(option)
        let pos = get_insert_pos

        // console.log(name_room,name_map);
        // check
        if(name == "" ||  pos == undefined){
            alert("input all data");
        }else{
            // use axios
            let params =new URLSearchParams();
            pos_tranfrom = JSON.stringify({pos:pos})
            // console.log("BE",pos_tranfrom);
            params.append('name',name);
            params.append('color',color);
            params.append('pos',pos_tranfrom);
            params.append('name_room',name_room);
            params.append('name_map',name_map);
            params.append('option',option);

            axios({
                url:'/createNav/insert_nav_action',
                method:'post',
                data:params,
                timeout:3000
            }).then((result)=>{
                alert("Insert Done !");
                window.location=`/createNav/nav_room/?name_room=${name_room}&name_map=${name_map}`;
                console.log("insert DONE !");
            })
        }

        console.log(name);
        console.log(color);
        console.log(pos);

    }


  </script>



<%- include("partials/footer") %> 


